body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Quicksand", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p.intro {
  color: rgb(255, 255, 255);
  margin-bottom: 0 auto;
  position: relative;
  top: 20px;
  font-weight: 400;
  font-family: "Cabin", sans-serif;
}

.city {
  border-radius: 77px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(34, 138, 137);
  background-image: url(/public/img/clear.png);
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
  width: 700px;
  min-width: 700px;
  max-width: 700px;
  padding: 20px;
  box-shadow: 0px 0px 6px 0px grey;
  box-sizing: border-box;
}

input[type="text"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  font-family: "Cabin", sans-serif;
}

input[type="submit"] {
  color: rgb(255, 255, 255);
  width: 14%;
  padding: 12px 12px;
  margin: 8px 0;
  background-color: #8a5cbc;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

input[type="submit"].btn:hover {
  opacity: 0.9;
  cursor: pointer;
  background-color: #01beff;
}

input[type="button"] {
  color: rgb(255, 255, 255);
  width: 14%;
  padding: 12px 12px;
  margin: 8px 0;
  background-color: #8a5cbc;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

input[type="button"].currentBtn:hover {
  opacity: 0.9;
  cursor: pointer;
  background-color: #70e83c;
}

input[type="text"] {
  font-size: 15px;
  color: #0387a9;
}




